* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    position: relative;
    background-color:rgba(231, 61, 155, 0.719);
    
}
header{
    display: block;
    position: fixed;
    background-color:seashell ;
    border-bottom-right-radius: 10px;
}
h2{
    font-size: 30px;
    color:rgb(13, 53, 13);
    font-weight:700;

}
h3{
    color:rgb(5, 75, 52);
font-style: italic;
text-transform: capitalize;

}
a{
    color: rgb(13, 53, 13);
    text-decoration-color: green;
}

a:hover{
    color: purple;
}

.shadow
{
    display: block;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5pt 5pt 5pt 5pt;
    font-size: 18pt;
}

p{
margin-left: 5pt;
margin-right: 5pt;
text-indent: 12pt;
font-size: 18pt;
}
#childhood{

    text-align: left;
    background-color: rgb(192, 155, 161);
    border-top-left-radius: 10pt;
}

ol{
    text: indent 20px;
    font-size: 18pt;
    font-style: oblique;
}

